

/* Light Mode Styles */
.light {
    background-color: #f5f5f5;
    color: #333;
  }
  
  .light .card {
    background-color: #fff;
    border: 1px solid #ddd;
  }
  
  
  .light .modal-overlay {
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
  }
  
  /* Dark Mode Styles */
  .dark {
    background-color: #1c1c1c;
    color: #f0f0f0;
  }
  
  .dark .card {
    color:#f0f0f0;
    background-color: #000000;
    border: 1px solid #ffffff;
    box-shadow: 10px 10px 10px rgba(255, 255, 255, 0.195);
  }
  
 
  
  
  /* Shared styles */
  .container-card {
    padding: 20px;
  }
  
  
  
  

 */
 .container-card {
    max-width: 100%;
    overflow-x: hidden;
  }
 
 .contact-form{
    margin:100px auto;   
 }

 .home-img {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của thẻ cha */
    height: 200px; /* Đặt chiều cao cố định cho hình ảnh */
    object-fit: cover; /* Ẩn đi phần hình ảnh bị thừa mà không làm biến dạng */
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.604); /* Màu nền mờ */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    z-index: 1000; /* Đảm bảo modal nằm trên các phần tử khác */
}
.close-button {
    background: none; /* Không có nền */
    border: none; /* Không có viền */
    cursor: pointer; /* Con trỏ chuột khi di chuột qua */
    font-size: 24px; /* Kích thước chữ cho nút */
    color: white; /* Màu chữ */
    position: absolute; /* Định vị nút */
    top: 10px; /* Khoảng cách từ trên xuống */
    right: 10px; /* Khoảng cách từ bên phải */
    z-index: 1001; /* Đảm bảo nút nằm trên hình ảnh */
}
.contact-content{
  width: 50%;
  text-align: center;
  margin:auto;
  
}


.contact-title{
  
  font-size: 50px;
  display: flex;
  justify-content: center;
}

.text-contact{
  margin: 50px 0;
  font-size: 25px;
}

.contact-button{
  margin:35px;
}

.header{
  text-align: center;
  margin:auto;
}

.video{
  width: 840px;
  height: 472px;
}

@media screen and (max-width: 900px) {

  .video{
    width: 560px;
    height: 315px;
  }
}
  

  