/* .header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
}
.header a{
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

}
.header a:hover{
    color:black;
    text-decoration: underline;
    border-radius: 3px; 
    
}
.orchid-image{
    width: 50%;
    height: 100%;
}

.special{
    color: green;
}
.not-special{
    color: red;
}
.content-container{
    margin: 20px;
    background-color: #f1f1f1;
    justify-content: center;
    align-items: center;
}


 */
 .contact-form{
    margin:100px auto;   
 }

 .card-img-top {
    width: 100%; /* Đảm bảo hình ảnh chiếm toàn bộ chiều rộng của thẻ cha */
    height: 200px; /* Đặt chiều cao cố định cho hình ảnh */
    object-fit: cover; /* Ẩn đi phần hình ảnh bị thừa mà không làm biến dạng */
    
}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.604); /* Màu nền mờ */
    display: flex;
    justify-content: center; /* Căn giữa theo chiều ngang */
    align-items: center; /* Căn giữa theo chiều dọc */
    z-index: 1000; /* Đảm bảo modal nằm trên các phần tử khác */
}
.close-button {
    background: none; /* Không có nền */
    border: none; /* Không có viền */
    cursor: pointer; /* Con trỏ chuột khi di chuột qua */
    font-size: 24px; /* Kích thước chữ cho nút */
    color: white; /* Màu chữ */
    position: absolute; /* Định vị nút */
    top: 10px; /* Khoảng cách từ trên xuống */
    right: 10px; /* Khoảng cách từ bên phải */
    z-index: 1001; /* Đảm bảo nút nằm trên hình ảnh */
}

