body {
    margin: 0;
}

.POD-about {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Arial', sans-serif;
}

.POD-about {

    .video-container video {
        width: 100%;
        height: auto;
    }

    .slogan-container {
        width: 65%;
        text-align: center;
    }

    .about-container {
        width: 90%;
        max-width: 1500px;
        margin: 40px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .reason-container {
        width: 100%;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
    }

    .reason-container img {
        width: 50%;
        object-fit: cover;
        object-position: center;
        display: block;
    }

    .reason-item {
        background-color: #b5c1c1;
        border-radius: 10px;
        margin: 20px;
        padding: 15px;
    }

    .community-container {
        width: 70%;
        margin: 80px;
        background-color: #f9f9f9;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        border-radius: 20px;
        overflow: hidden;
        display: flex;
        align-self: center;
    }

    .text {
        padding: 0 20px;
    }

    .community-container img {
        width: 50%;
    }

}