.container {
    background-color: rgb(244, 229, 210);
    display: flex; /* Use flexbox for layout */
    justify-content: space-between; /* Space between items */
    
    flex-wrap: wrap; /* Allow wrapping */
}

.about-us-text {
    flex: 1; /* Allow text to take available space */
    margin-right: 20px; /* Add space between text and image */
}

.about-us-img {
    flex: 0 0 auto; /* Keep image size fixed */
}

.about-us-img img {
    max-width: 100%; /* Ensure the image is responsive */
    height: auto; /* Maintain aspect ratio */
}

.inform {
    width: 100%; /* Ensure inform section takes full width */
    margin-top: 20px; /* Add space above the inform section */
}

.location-container {
    display: flex; /* Use flexbox for horizontal layout */
    align-items: center; /* Center items vertically */
    margin-top: 20px; /* Add space above the location section */
}

.location-img {
    margin-right: 10px; /* Add space between image and text */
}

.location-img img {
    max-width: 500px; /* Set a fixed width for the image */
    height: auto; /* Maintain aspect ratio */
}

div.location {
    flex: 1;
    font-size: 30px;
     /* Allow text to take available space */
}

.header a{
    margin: 0 10px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;

} 
.header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    background-color: #bd9067;
    padding: 10px;
}

.header a:hover{
    color:black;
    text-decoration: underline;
    border-radius: 3px; 
    
}
#root{
    background-color: rgb(244, 229, 210);
}