.slogan{
    font-size: 85px;
    text-align:left;
    margin: 150px 50px 70px 50px; /* top right bottom left */
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
}

.sub-slogan{
    font-size:40px;
    text-align:center;
    margin: 100px 150px 250px 150px;
    font-family: monospace;
    
    
}

.title{
    font-size: 40px;
    text-align: left;
    font-family: monospace;
    color: #31356e;
    margin: 0px 50px 0px 200px;
}

.second-title{
    font-size: 40px;
    text-align: left;
    font-family: monospace;
    color: #31356e;
    margin-top:0;
    margin-bottom: 10px;
}

.reason-container{
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 30px 200px;
}

/* Định dạng cho từng lý do */
.reason-item {
    background-color: #b5c1c1; /* Màu xanh nhạt */
    border-radius: 8px; /* Bo góc */
    padding: 15px; /* Khoảng cách bên trong */
    line-height: 2;
    margin: 10px;
    text-align: justify;
}
.community-text{
    line-height: 2;
    justify-content: center;
}

.community-container{
    font-size: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 100px;
    margin: 30px 200px;
    line-height: 2;
}

.header a{
    margin: 0 30px;
    color: #333;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;

} 

.header{
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    align-items: center;
    background-color: #83999f;
    padding: 10px;
}

.header a:hover{
    color:black;
    text-decoration: underline;
    border-radius: 3px; 
    
}

#root{
    background-color: #eeefe9;
}
