@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


h1{
    font-size: 20px;
    display: flex;
    font-weight: bold;
    color: #8e1c1c;
    text-align: left;
    justify-content: left;
  
}
.contact-us{
    margin: 20px;
    flex-direction: column;
    justify-content:left;
    width: 63%;
    
}
.text-contact{
    font-size: 15px;
    color: #000;
    font-family: 'Roboto', sans-serif; 
    margin-bottom: 30px;
}
.text{
    width: 100%;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
label{
    font-family: 'Roboto', sans-serif; 
    margin-left: 10px;
}
.submit{
    width: 100%;
    height: 50px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-top: 10px;
    background-color: #ebb48a;
    color: black;
   
     
    
    
    
}
.submit:hover{
    background-color: #000;
    color: #fff;
    transition: background-color 0.3s, color 0.3s; /* Added transition effect */
 
    
    
    
}
.inform{
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content:flex-end;
}