body {
    margin: 0;
}

.user-control-center {
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    padding: 20px;
}

.user-control-center {

    .user-historybooking-right-container {
        padding: 0 20px;
    }

    p {
        margin: 5px 0;
    }
}