.admin-container{
   display: flex;
   min-height: 100vh; /* Đảm bảo container chiếm toàn bộ chiều cao viewport */
}

.admin-content{
    flex: 1; /* Đảm bảo admin-content chiếm không gian còn lại */
    display: flex;
    flex-direction: column; /* Để nội dung bên trong có thể xếp chồng lên nhau */
    height:100vh;
}

.admin-content-body{
    padding: 20px;
    flex: 1; /* Để nội dung bên trong có thể mở rộng */
    overflow-y: auto; /* Thêm thanh cuộn cho nội dung */
}

.add-link{
    background-color: #f4e4e4; /* Bootstrap primary color */
    color: rgb(0, 0, 0); /* Text color */
    border: none; /* No border */
    padding: 10px 20px; /* Padding for the button */
    border-radius: 5px; /* Rounded corners */
    text-decoration: none; /* Remove underline from link */
    display: inline-block; /* Align properly */
    transition: background-color 0.3s; /* Smooth transition */
    width: 100%;
}

.add{
    width: 100%;
    background-color: rgb(42, 136, 225);
    color: rgb(0, 0, 0);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
}

